* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


@font-face {
    font-family:'love';
    src: url(fonts/BebasNeue-Regular.ttf)
    format('opentype');
    font-weight: normal;
    font-style: normal;
  }

.seção{

    background-color: #fff46f;
    display: flex;
    height: 7rem;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;


    
    

}



#logo{
height: 95%;

}


#letra{
    /*font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
    font-family: 'love';
    border: 2px solid green;
    /*-webkit-text-stroke: medium;*/
    font-size: 20px;
    width: 15%;
    text-align: center;
    background-color: whitesmoke;
    color: black;
    font-weight: 300;
    text-decoration: none;
    
    


}


.tela{
    display: flex;
    width: 100%;
    height: 53rem;
    background-image: url(imagens/casa\ marela.png);
    background-repeat: no-repeat;
    background-size: 100%;
    /* background-position: center; */
    /*opacity: 0.78;*/
    background-position: center;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;


}


.vida{
    /* opacity: 0.0;*/
    height: 255px;
    border: 2px solid yellow;
}


#falas{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    /*height: 430px;
    width: 35%;*/
    /*border: 3px solid green;*/
    text-align: center;
    /*margin-left: -190px;*/

}


/*.sonho{
   text-align: center;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
   color: black;
   font-size: xxx-large;
   text-shadow: -1px 0px 20px #e4ff00;
   font-weight: 300;



}*/

.texto{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    color: white;
    text-shadow: 0 0 5px black;
   font-weight: 500;
   text-align: center;
   font-size: x-large;
   margin-bottom: 7px;

      
    


}


#botao:hover{
    border: 1px solid green;
    border-radius: 20px;
    height: 45px;
    width: 15%;
    margin-top: 1px;
    margin-bottom: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    color: #1a0000;
    text-shadow: 0 0 15px #857a7a;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    


}



.tela2{
    display: flex;
    height: 35rem;
    width: 100%;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(3px);



}

.titulodapagina{
    display: flex;
    height: 18rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: 'love';
    font-size: 20px;
    color: #000000;
    text-shadow: 0px 1px 20px #98ab25;
    backdrop-filter: blur(3px);






}

.imagem{
    height: 255px;
    width: 25rem;
    margin-top: 10px;
    margin-inline: 10px;
    border: 2px solid yellow;

}

.faleconosco1{
    height: 17%;
}

.tabelaimg1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 15rem;
    width: 25%;

}

.imagemdetabela1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    height: 15rem;
    width: 10rem;
    
}


.imagemdetabela2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    height: 15rem;
    width: 10rem;
    
}


